obj
bin
deploy
deploy/*
src/server/.vs/*
_NCrunch_Server
_ReSharper.*
riderModule.iml
/_ReSharper.Caches/
*.ncrunchsolution.user
*.csproj.user
*.resharper.user
*.ReSharper.user
*.teamcity.user
*.TeamCity.user
*.resharper
*.DotSettings
*.dotSettings
*.DotSettings.user
*.dotsettings.user
*.ncrunchproject
*.ncrunchsolution
*.cache
*.orig
.idea/
.idea/*
*.suo
~$*
.vs/
!packages
!packages/*
.env
